
[mysqld]
user = mysql
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
port = 3306
bind-address = 0.0.0.0
innodb_buffer_pool_size = 64M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-symbolic-links
local_infile = 0
